.header {
    display: flex;
    justify-content: space-between;
    margin: 30px 0px;
}

.header__chats {
    font-size: 23px;
    font-weight: 700;
}

.header .icon {
    font-size: 20px;
    margin-left: 15px;
}