.nav {
    position: fixed;
    width: 100%;
    background-color: #FCFCFC;
    bottom: 0px;
    left: 0px;
    border-top: 1px solid #f7f7f7;
    padding: 20px 50px;


}

.nav__list {
    display: flex;
    justify-content: space-between;
}

.nav i {
    font-size: 20px;
}

.Chats {
    position: relative;
}

.nav__icon-badge {
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #DC5D46;
    color: white;
    border-radius: 30px;
    font-size: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -7px;
    right: -7px;
}

@keyframes navbar {
    from {

        transform: translateY(80px);
    }

    to {

        transform: none;

    }
}

.nav {
    animation: navbar 1s ease-out forwards;

}